---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Cifrado Asimétrico y su Aplicación</h1>
      <strong>Introducción</strong>
      <p>
        Esta es la actividad de la semana tres, donde vamos a meternos de lleno
        en el tema del cifrado asimétrico, un concepto clave en seguridad
        informática. Este tipo de cifrado, también conocido como criptosistema
        de clave pública, ha cambiado la forma en que protegemos la información
        en la era digital. A diferencia del cifrado simétrico, que usa la misma
        clave para cifrar y descifrar, el asimétrico funciona con dos claves:
        una pública y otra privada. En este blog vamos a ver cómo funciona,
        cuáles son sus algoritmos más usados, sus pros y contras, cómo se
        compara con el cifrado simétrico, un caso práctico y algunas
        recomendaciones para su implementación.
      </p>

      <p>
        Ver entradas del blog <a href="/blog"
          >ir a entradas del blog
        </a> 
      </p>
      
      </p>
    </main>
    <Footer />
  </body>
</html>
